*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}

:root{
  --board-search-color: #cbd5e1;
  --sidebar-btn-color: #38bdf8;
}

.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 1.2fr 5fr / 1fr 5fr;
}

/* ---------------Sidebar------------------- */

.sidebar{
  background-color: var(--sidebar-btn-color);
  grid-area: 1/1/3/2;
  color: white;
  padding: 20px;
}

.nav{
  display: grid;
  grid-template-rows: repeat(12, 40px);
  align-items: center;
  list-style-type: none;
}

.logo{
  font-size: 2rem;
  font-weight: 600;
}

.link{
  font-size: 1.5rem;
  font-weight: 600;
}

.logo,
.link{
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo svg,
.link svg{
  width: 1em;
  fill: white;
}

/* --------------Header----------------------- */

.header{
  padding: 10px 40px;
  background-color: white;
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: .8fr 1fr;
  gap: 10px;
  box-shadow: 0 10px 10px -10px rgba(0,0,0,0.4);
  z-index: 1;
}

.search_bar{
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search_bar img{
  width: 30px;
}

.search_bar input{
  width: 80%;
  line-height: 2;
  border-radius: 20px;
  background-color: var(--board-search-color);
  border: none;
  padding-left: 10px;
}

.user{
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1rem;
  font-weight: 600;
}

.user img{
  width: 30px;
}

.user_header{
  grid-area: 2/1/3/2;
  display: flex;
  align-items: center;
  gap: 20px;
}

.user_header p{
  font-size: 1.5rem;
  font-weight: 600;
}

.upper_text{
  display: block;
  font-size: 1rem;
}

.user_header img{
  width: 10%;
}

.action_buttons{
  grid-area: 2/2/3/3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.btn{
  background-color: var(--sidebar-btn-color);
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  font-family: inherit;
}

/* ---------------Board---------------------- */

.board{
  padding: 20px;
  background-color: var(--board-search-color);
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.left_column{
  display: grid;
  grid-template: 40px repeat(3, 1fr) / repeat(2, 1fr);
  gap: 20px;
}

.title{
  grid-area: 1/1/2/3;
  font-size: 1.3rem;
  font-weight: 600;
  align-self: self-end;
}

.card{
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background-color: gold;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.interactive_icons{
  margin-top: auto;
  display: flex;
  gap: 15px;
  justify-content: end;
}

.interactive_icons img{
  width: 30px;
}

.card_title{
  font-size: 1.2rem;
  font-weight: 600;
}

.card_text{
  color: gray;
  width: 85%;
}

.right_column{
  display: grid;
  grid-template: 40px 1fr 40px 1fr / 1fr;
  gap: 20px;
}

.trends{
  grid-area: 4/1/5/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.trends div{
  display: flex;
  gap: 10px;
}

.trends div span{
  display: block;
  font-weight: 600;
  color: black;
}

.trends div p{
  color: gray;
}

.trends img{
  width: 40px;
}

.title_right{
  font-size: 1.3rem;
  font-weight: 600;
  align-self: self-end;
}

.messages{
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.messages div{
  border-bottom: solid 1px gray;
  padding-bottom: 20px;
  padding-top: 20px;
}

.messages div:last-of-type{
  border-bottom: none;
  padding-bottom: 0;
}

.messages div p:first-child{
  font-weight: 600;
  margin-bottom: 5px;
}

.messages div p:last-child{
  font-size: .8rem;
  color: gray;
}